[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "archiveRetriever"]
	path = archiveRetriever
	url = https://github.com/liserman/archiveretriever
[submodule "handcodeR"]
	path = handcodeR
	url = https://github.com/liserman/handcoder
